{{page-title "Client"}}

{{! The following component displays Ember's default welcome message. }}
{{! <WelcomePage /> }}
{{! Feel free to remove this! }}
<h1 class="text-3xl font-bold underline">
  Hello world tailwindcss!
</h1>

{{outlet}}